@font-face {
  font-family: PoppinsMedium;
  src: local(PoppinsMedium),
  url('/src/assets/Poppins-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Poppins;
  src: local(MarkProMedium),
  url('/src/assets/Poppins-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.mainContainer {
  padding: 0 10vw;
  width: 100%;
  text-align: center;
}
