

.topHeadLinesContainer {
  display: grid;
  grid-template-columns: repeat(3 , 30%);
  grid-column-gap: 3%;
  grid-row-gap: 2%;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  height: 80vh;
  text-align: center;
  font-family: PoppinsSemiBold;
}
@media screen and (max-width: 480px) {
  .topHeadLinesContainer {
    display: grid;
    grid-template-columns: repeat(1 , 90%);
    grid-column-gap: 3%;
    grid-row-gap: 25px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    height: 100vh;
  }
  .imageDetail {
    width: 90%;
  }
}
.imageDetail {
  max-height: 350px;
}
.detailMainContainer {
  height: 73vh;
}
.title {
  font-family: PoppinsSemiBold;
  color: #013567;
  font-size: 15px;
  text-align: left;
  margin: 20px 0;
}
.infoAuthor {
  font-family: PoppinsMedium;
  color: lightslategray;
  text-align: left;
  font-size: 11px;

}
.content {
  font-size: 12px;
  font-family: Poppins;
  text-align: left;
}
