.mainContainer {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}
.logo {
  height: 100px;
  width: 150px;
}
.searchInput {
  border: 1px solid #e1e3e5;
  height: 30px;
  width: 40vw ;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px ;
  -webkit-box-shadow: 10px 10px 24px -9px rgba(217,208,217,0.5);
  -moz-box-shadow: 10px 10px 24px -9px rgba(217,208,217,0.5);
  box-shadow: 10px 10px 24px -9px rgba(217,208,217,0.5);
}
.searchInput:focus {
  outline: none;
}
.searchButton {
  background-color: #013567;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  font-family: Poppins;
  color:white;
  width: 45px;
  text-align: center;
}
.searchContainer {
  display: flex;
  flex-direction: row;
}
