.mainContainer {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}
.logo {
  height: 100px;
  width: 150px;
}

.searchInput {
  border: 1px solid #e1e3e5;
  height: 30px;
  width: 40vw ;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px ;
  -webkit-box-shadow: 10px 10px 24px -9px rgba(217,208,217,0.5);
  -moz-box-shadow: 10px 10px 24px -9px rgba(217,208,217,0.5);
  box-shadow: 10px 10px 24px -9px rgba(217,208,217,0.5);
}
.searchInput:focus {
  outline: none;
}
.searchButton {
  background-color: #013567;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  font-family: Poppins;
  color:white;
  width: 45px;
  text-align: center;
}
.searchContainer {
  display: flex;
  flex-direction: row;
}
.menu {
  display: flex;
  flex-direction: row;
  padding: 0 2vw;
  width: 90%;
  align-items: center;
  font-family: PoppinsSemiBold;
  color: #013567;
}
@media screen and (max-width: 480px) {
  .menu {
    width: 320px;
    overflow-x: auto;
  }
}
.menuItems {
  padding: 15px 15px 35px 15px;
  font-family: PoppinsMedium;
  font-size: 14px;
  color: #013567;
  cursor: pointer;
}
.list {
  font-family: PoppinsMedium;
  color: #013567;
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
  padding-left: 25px;
}
.listModal {
  position: absolute;
  z-index: 1000;
  height: 375px;
  width: 300px;
  overflow: auto;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 24px -9px rgba(217,208,217,0.5);
  -moz-box-shadow: 10px 10px 24px -9px rgba(217,208,217,0.5);
  box-shadow: 10px 10px 24px -9px rgba(217,208,217,0.5);
}
.hidden {
  display: none;
}
.itemContainer {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 15px;
  font-family: Poppins;
  color: #013567;
  text-align: left;
  font-size: 12px;
  border-bottom: 1px solid rgba(217,208,217,0.2) ;
  cursor: pointer;
}
.fav {
  font-size: 9px;
  color: lightslategray;
}
